{{/*  Include all JavaScript files here  */}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>

{{ $toggle := resources.Get "js/menutoggle.js" -}}
{{ $js := slice $toggle | resources.Concat "js/bundle.js" | resources.Minify }}
<script src="{{ $js.RelPermalink }}"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{{/*  Sass processing here  */}}
{{ $style := resources.Get "sass/main.scss" | toCSS | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{/* Linked fonts here  */}}
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
