{{/*  Include all JavaScript files here  */}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>

{{ $toggle := resources.Get "js/menutoggle.js" -}}
{{ $js := slice $toggle | resources.Concat "js/bundle.js" | resources.Minify }}
<script src="{{ $js.RelPermalink }}"></script>

{{/*  Sass processing here  */}}
{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.css" . | toCSS }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{/* Linked fonts here  */}}
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
