# Editor or environment-specific entries should not be committed to the
# repository but can be kept in Git's global configuration:
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
#
# For advice on what entries to include in your global gitignore, please see
# GitHub's gitignore repository, which contains an excellent set of entries for
# many different editing tools:
#
# https://github.com/github/gitignore/tree/master/Global

target
target-ra
target-xcompile
miri-target
.mtrlz.log
**/*.rs.bk
mzdata
__pycache__
.mypy_cache
venv
node_modules
coverage
**/*.swp
test/feature-benchmark/tmp/*.td
test/zippy/tmp/*.td
junit_*.xml
perf.data*
**/*.rej
**/*.orig

# This is un-orthodox, but adding it to the repo would "tie" it to each users
# local version of nixpkgs. This way, we can all use the flake and have a
# flake.lock that works well with the rest of the package versions on our
# system.
**/flake.lock
