[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Materialize simplifies application development with streaming data. Incrementally-updated materialized views - in PostgreSQL and in real time. Materialize is powered by Timely Dataflow.
[access "refs/*"]
	owner = group user/benesch
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/benesch
	label-Verified = -1..+1 group user/benesch
	push = group user/benesch
	read = group user/benesch
	rebase = group user/benesch
	removeReviewer = group user/benesch
	submit = group user/benesch
[access "refs/heads/*"]
	create = group user/benesch
	push = +force group user/benesch
	pushMerge = group user/benesch
	read = group user/benesch
[access "refs/tags/*"]
	push = group user/benesch
	push = +force group user/benesch
