<svg width="613" height="147">
  <polygon points="9 17 1 13 1 21"></polygon>
  <polygon points="17 17 9 13 9 21"></polygon>
  <rect x="31" y="3" width="132" height="32" rx="10"></rect>
  <rect x="29" y="1" width="132" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="39" y="21">CREATE SOURCE</text>
  <rect x="183" y="3" width="82" height="32"></rect>
  <rect x="181" y="1" width="82" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="191" y="21">src_name</text>
  <rect x="285" y="3" width="60" height="32" rx="10"></rect>
  <rect x="283" y="1" width="60" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="293" y="21">FROM</text>
  <rect x="365" y="3" width="80" height="32"></rect>
  <rect x="363" y="1" width="80" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="373" y="21">kafka_src</text>
  <rect x="465" y="3" width="126" height="32" rx="10"></rect>
  <rect x="463" y="1" width="126" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="473" y="21">USING SCHEMA</text>
  <rect x="363" y="69" width="88" height="32" rx="10"></rect>
  <rect x="361" y="67" width="88" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="371" y="87">REGISTRY</text>
  <rect x="471" y="69" width="94" height="32"></rect>
  <rect x="469" y="67" width="94" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="479" y="87">registry_src</text>
  <rect x="363" y="113" width="104" height="32"></rect>
  <rect x="361" y="111" width="104" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="371" y="131">avro_schema</text>
  <path class="line" d="m17 17 h2 m0 0 h10 m132 0 h10 m0 0 h10 m82 0 h10 m0 0 h10 m60 0 h10 m0 0 h10 m80 0 h10 m0 0 h10 m126 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-292 66 l2 0 m2 0 l2 0 m2 0 l2 0 m22 0 h10 m88 0 h10 m0 0 h10 m94 0 h10 m-242 0 h20 m222 0 h20 m-262 0 q10 0 10 10 m242 0 q0 -10 10 -10 m-252 10 v24 m242 0 v-24 m-242 24 q0 10 10 10 m222 0 q10 0 10 -10 m-232 10 h10 m104 0 h10 m0 0 h98 m23 -44 h-3"></path>
  <polygon points="603 83 611 79 611 87"></polygon>
  <polygon points="603 83 595 79 595 87"></polygon>
</svg>
