<svg width="549" height="343" data-bnfhash="b6173220ef68ab14892446ff0917c69c">
  <polygon points="9 17 1 13 1 21"></polygon>
  <polygon points="17 17 9 13 9 21"></polygon>
  <rect x="31" y="3" width="132" height="32" rx="10"></rect>
  <rect x="29" y="1" width="132" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="39" y="21">CREATE SOURCE</text>
  <rect x="203" y="35" width="122" height="32" rx="10"></rect>
  <rect x="201" y="33" width="122" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="211" y="53">IF NOT EXISTS</text>
  <rect x="365" y="3" width="82" height="32"></rect>
  <rect x="363" y="1" width="82" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="373" y="21">src_name</text>
  <rect x="467" y="3" width="60" height="32" rx="10"></rect>
  <rect x="465" y="1" width="60" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="475" y="21">FROM</text>
  <rect x="35" y="101" width="124" height="32" rx="10"></rect>
  <rect x="33" y="99" width="124" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="43" y="119">KAFKA BROKER</text>
  <rect x="179" y="101" width="48" height="32"></rect>
  <rect x="177" y="99" width="48" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="187" y="119">host</text>
  <rect x="247" y="101" width="64" height="32" rx="10"></rect>
  <rect x="245" y="99" width="64" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="255" y="119">TOPIC</text>
  <rect x="351" y="133" width="50" height="32"></rect>
  <rect x="349" y="131" width="50" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="359" y="151">topic</text>
  <rect x="441" y="101" width="76" height="32" rx="10"></rect>
  <rect x="439" y="99" width="76" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="449" y="119">FORMAT</text>
  <rect x="51" y="199" width="164" height="32" rx="10"></rect>
  <rect x="49" y="197" width="164" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="217">PROTOBUF MESSAGE</text>
  <rect x="235" y="199" width="120" height="32"></rect>
  <rect x="233" y="197" width="120" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="243" y="217">message_name</text>
  <rect x="375" y="199" width="126" height="32" rx="10"></rect>
  <rect x="373" y="197" width="126" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="383" y="217">USING SCHEMA</text>
  <rect x="299" y="265" width="50" height="32" rx="10"></rect>
  <rect x="297" y="263" width="50" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="307" y="283">FILE</text>
  <rect x="369" y="265" width="132" height="32"></rect>
  <rect x="367" y="263" width="132" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="377" y="283">schema_file_path</text>
  <rect x="299" y="309" width="110" height="32"></rect>
  <rect x="297" y="307" width="110" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="307" y="327">inline_schema</text>
  <path class="line" d="m17 17 h2 m0 0 h10 m132 0 h10 m20 0 h10 m0 0 h132 m-162 0 h20 m142 0 h20 m-182 0 q10 0 10 10 m162 0 q0 -10 10 -10 m-172 10 v12 m162 0 v-12 m-162 12 q0 10 10 10 m142 0 q10 0 10 -10 m-152 10 h10 m122 0 h10 m20 -32 h10 m82 0 h10 m0 0 h10 m60 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-536 98 l2 0 m2 0 l2 0 m2 0 l2 0 m2 0 h10 m124 0 h10 m0 0 h10 m48 0 h10 m0 0 h10 m64 0 h10 m20 0 h10 m0 0 h60 m-90 0 h20 m70 0 h20 m-110 0 q10 0 10 10 m90 0 q0 -10 10 -10 m-100 10 v12 m90 0 v-12 m-90 12 q0 10 10 10 m70 0 q10 0 10 -10 m-80 10 h10 m50 0 h10 m20 -32 h10 m76 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-510 98 l2 0 m2 0 l2 0 m2 0 l2 0 m2 0 h10 m164 0 h10 m0 0 h10 m120 0 h10 m0 0 h10 m126 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-266 66 l2 0 m2 0 l2 0 m2 0 l2 0 m22 0 h10 m50 0 h10 m0 0 h10 m132 0 h10 m-242 0 h20 m222 0 h20 m-262 0 q10 0 10 10 m242 0 q0 -10 10 -10 m-252 10 v24 m242 0 v-24 m-242 24 q0 10 10 10 m222 0 q10 0 10 -10 m-232 10 h10 m110 0 h10 m0 0 h92 m23 -44 h-3"></path>
  <polygon points="539 279 547 275 547 283"></polygon>
  <polygon points="539 279 531 275 531 283"></polygon>
</svg>
<!-- generated by Railroad Diagram Generator https://www.bottlecaps.de/rr/ui -->
