<svg width="609" height="289" data-bnfhash="be9f42cd98bb09690649a69b91d4e748">
  <polygon points="11 17 3 13 3 21"></polygon>
  <polygon points="19 17 11 13 11 21"></polygon>
  <rect x="33" y="3" width="110" height="32" rx="10"></rect>
  <rect x="31" y="1" width="110" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="41" y="21">CREATE SINK</text>
  <rect x="183" y="35" width="122" height="32" rx="10"></rect>
  <rect x="181" y="33" width="122" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="191" y="53">IF NOT EXISTS</text>
  <rect x="345" y="3" width="88" height="32"></rect>
  <rect x="343" y="1" width="88" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="353" y="21">sink_name</text>
  <rect x="453" y="3" width="60" height="32" rx="10"></rect>
  <rect x="451" y="1" width="60" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="461" y="21">FROM</text>
  <rect x="40" y="101" width="92" height="32"></rect>
  <rect x="38" y="99" width="92" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="48" y="119">item_name</text>
  <rect x="152" y="101" width="56" height="32" rx="10"></rect>
  <rect x="150" y="99" width="56" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="160" y="119">INTO</text>
  <rect x="228" y="101" width="124" height="32" rx="10"></rect>
  <rect x="226" y="99" width="124" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="236" y="119">KAFKA BROKER</text>
  <rect x="372" y="101" width="48" height="32"></rect>
  <rect x="370" y="99" width="48" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="380" y="119">host</text>
  <rect x="440" y="101" width="64" height="32" rx="10"></rect>
  <rect x="438" y="99" width="64" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="448" y="119">TOPIC</text>
  <rect x="524" y="101" width="50" height="32"></rect>
  <rect x="522" y="99" width="50" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="532" y="119">topic</text>
  <rect x="25" y="167" width="76" height="32" rx="10"></rect>
  <rect x="23" y="165" width="76" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="33" y="185">FORMAT</text>
  <rect x="121" y="167" width="108" height="32" rx="10"></rect>
  <rect x="119" y="165" width="108" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="129" y="185">AVRO USING</text>
  <rect x="269" y="167" width="236" height="32" rx="10"></rect>
  <rect x="267" y="165" width="236" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="277" y="185">CONFLUENT SCHEMA REGISTRY</text>
  <rect x="525" y="167" width="36" height="32"></rect>
  <rect x="523" y="165" width="36" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="533" y="185">url</text>
  <rect x="269" y="211" width="76" height="32" rx="10"></rect>
  <rect x="267" y="209" width="76" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="277" y="229">SCHEMA</text>
  <rect x="385" y="211" width="50" height="32" rx="10"></rect>
  <rect x="383" y="209" width="50" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="393" y="229">FILE</text>
  <rect x="455" y="211" width="48" height="32"></rect>
  <rect x="453" y="209" width="48" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="463" y="229">path</text>
  <rect x="385" y="255" width="110" height="32"></rect>
  <rect x="383" y="253" width="110" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="393" y="273">inline_schema</text>
  <path class="line" d="m19 17 h2 m0 0 h10 m110 0 h10 m20 0 h10 m0 0 h132 m-162 0 h20 m142 0 h20 m-182 0 q10 0 10 10 m162 0 q0 -10 10 -10 m-172 10 v12 m162 0 v-12 m-162 12 q0 10 10 10 m142 0 q10 0 10 -10 m-152 10 h10 m122 0 h10 m20 -32 h10 m88 0 h10 m0 0 h10 m60 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-517 98 l2 0 m2 0 l2 0 m2 0 l2 0 m2 0 h10 m92 0 h10 m0 0 h10 m56 0 h10 m0 0 h10 m124 0 h10 m0 0 h10 m48 0 h10 m0 0 h10 m64 0 h10 m0 0 h10 m50 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-593 66 l2 0 m2 0 l2 0 m2 0 l2 0 m2 0 h10 m76 0 h10 m0 0 h10 m108 0 h10 m20 0 h10 m236 0 h10 m0 0 h10 m36 0 h10 m-332 0 h20 m312 0 h20 m-352 0 q10 0 10 10 m332 0 q0 -10 10 -10 m-342 10 v24 m332 0 v-24 m-332 24 q0 10 10 10 m312 0 q10 0 10 -10 m-322 10 h10 m76 0 h10 m20 0 h10 m50 0 h10 m0 0 h10 m48 0 h10 m-158 0 h20 m138 0 h20 m-178 0 q10 0 10 10 m158 0 q0 -10 10 -10 m-168 10 v24 m158 0 v-24 m-158 24 q0 10 10 10 m138 0 q10 0 10 -10 m-148 10 h10 m110 0 h10 m0 0 h8 m20 -44 h38 m23 -44 h-3"></path>
  <polygon points="599 181 607 177 607 185"></polygon>
  <polygon points="599 181 591 177 591 185"></polygon>
</svg>
<!-- generated by Railroad Diagram Generator https://www.bottlecaps.de/rr/ui -->
