<svg width="613" height="245" data-bnfhash="3b47f571b8b6aa28a2ed9699ff2c70cc">
  <polygon points="9 17 1 13 1 21"></polygon>
  <polygon points="17 17 9 13 9 21"></polygon>
  <rect x="51" y="3" width="108" height="32" rx="10"></rect>
  <rect x="49" y="1" width="108" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="21">AVRO USING</text>
  <rect x="179" y="3" width="142" height="32"></rect>
  <rect x="177" y="1" width="142" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="187" y="21">avro_schema_spec</text>
  <rect x="51" y="47" width="164" height="32" rx="10"></rect>
  <rect x="49" y="45" width="164" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="65">PROTOBUF MESSAGE</text>
  <rect x="235" y="47" width="120" height="32"></rect>
  <rect x="233" y="45" width="120" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="243" y="65">message_name</text>
  <rect x="375" y="47" width="64" height="32" rx="10"></rect>
  <rect x="373" y="45" width="64" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="383" y="65">USING</text>
  <rect x="459" y="47" width="106" height="32"></rect>
  <rect x="457" y="45" width="106" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="467" y="65">schema_spec</text>
  <rect x="51" y="91" width="64" height="32" rx="10"></rect>
  <rect x="49" y="89" width="64" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="109">REGEX</text>
  <rect x="135" y="91" width="56" height="32"></rect>
  <rect x="133" y="89" width="56" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="143" y="109">regex</text>
  <rect x="51" y="135" width="90" height="32" rx="10"></rect>
  <rect x="49" y="133" width="90" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="153">CSV WITH</text>
  <rect x="161" y="135" width="28" height="32"></rect>
  <rect x="159" y="133" width="28" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="169" y="153">n</text>
  <rect x="209" y="135" width="88" height="32" rx="10"></rect>
  <rect x="207" y="133" width="88" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="217" y="153">COLUMNS</text>
  <rect x="337" y="167" width="118" height="32" rx="10"></rect>
  <rect x="335" y="165" width="118" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="345" y="185">DELIMITED BY</text>
  <rect x="475" y="167" width="46" height="32"></rect>
  <rect x="473" y="165" width="46" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="483" y="185">char</text>
  <rect x="51" y="211" width="54" height="32" rx="10"></rect>
  <rect x="49" y="209" width="54" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="229">TEXT</text>
  <path class="line" d="m17 17 h2 m20 0 h10 m108 0 h10 m0 0 h10 m142 0 h10 m0 0 h244 m-554 0 h20 m534 0 h20 m-574 0 q10 0 10 10 m554 0 q0 -10 10 -10 m-564 10 v24 m554 0 v-24 m-554 24 q0 10 10 10 m534 0 q10 0 10 -10 m-544 10 h10 m164 0 h10 m0 0 h10 m120 0 h10 m0 0 h10 m64 0 h10 m0 0 h10 m106 0 h10 m-544 -10 v20 m554 0 v-20 m-554 20 v24 m554 0 v-24 m-554 24 q0 10 10 10 m534 0 q10 0 10 -10 m-544 10 h10 m64 0 h10 m0 0 h10 m56 0 h10 m0 0 h374 m-544 -10 v20 m554 0 v-20 m-554 20 v24 m554 0 v-24 m-554 24 q0 10 10 10 m534 0 q10 0 10 -10 m-544 10 h10 m90 0 h10 m0 0 h10 m28 0 h10 m0 0 h10 m88 0 h10 m20 0 h10 m0 0 h194 m-224 0 h20 m204 0 h20 m-244 0 q10 0 10 10 m224 0 q0 -10 10 -10 m-234 10 v12 m224 0 v-12 m-224 12 q0 10 10 10 m204 0 q10 0 10 -10 m-214 10 h10 m118 0 h10 m0 0 h10 m46 0 h10 m20 -32 h24 m-544 -10 v20 m554 0 v-20 m-554 20 v56 m554 0 v-56 m-554 56 q0 10 10 10 m534 0 q10 0 10 -10 m-544 10 h10 m54 0 h10 m0 0 h460 m23 -208 h-3"></path>
  <polygon points="603 17 611 13 611 21"></polygon>
  <polygon points="603 17 595 13 595 21"></polygon>
</svg>
<!-- generated by Railroad Diagram Generator https://www.bottlecaps.de/rr/ui -->
