<svg width="505" height="257" data-bnfhash="ca571d0994397cf1df5b080f3361a03c">
  <polygon points="9 17 1 13 1 21"></polygon>
  <polygon points="17 17 9 13 9 21"></polygon>
  <rect x="31" y="3" width="80" height="32" rx="10"></rect>
  <rect x="29" y="1" width="80" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="39" y="21">EXTRACT</text>
  <rect x="131" y="3" width="26" height="32" rx="10"></rect>
  <rect x="129" y="1" width="26" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="139" y="21">(</text>
  <rect x="197" y="3" width="56" height="32" rx="10"></rect>
  <rect x="195" y="1" width="56" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="205" y="21">YEAR</text>
  <rect x="197" y="47" width="70" height="32" rx="10"></rect>
  <rect x="195" y="45" width="70" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="205" y="65">MONTH</text>
  <rect x="197" y="91" width="48" height="32" rx="10"></rect>
  <rect x="195" y="89" width="48" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="205" y="109">DAY</text>
  <rect x="197" y="135" width="60" height="32" rx="10"></rect>
  <rect x="195" y="133" width="60" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="205" y="153">HOUR</text>
  <rect x="197" y="179" width="74" height="32" rx="10"></rect>
  <rect x="195" y="177" width="74" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="205" y="197">MINUTE</text>
  <rect x="197" y="223" width="76" height="32" rx="10"></rect>
  <rect x="195" y="221" width="76" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="205" y="241">SECOND</text>
  <rect x="313" y="3" width="60" height="32" rx="10"></rect>
  <rect x="311" y="1" width="60" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="321" y="21">FROM</text>
  <rect x="393" y="3" width="38" height="32"></rect>
  <rect x="391" y="1" width="38" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="401" y="21">val</text>
  <rect x="451" y="3" width="26" height="32" rx="10"></rect>
  <rect x="449" y="1" width="26" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="459" y="21">)</text>
  <path class="line" d="m17 17 h2 m0 0 h10 m80 0 h10 m0 0 h10 m26 0 h10 m20 0 h10 m56 0 h10 m0 0 h20 m-116 0 h20 m96 0 h20 m-136 0 q10 0 10 10 m116 0 q0 -10 10 -10 m-126 10 v24 m116 0 v-24 m-116 24 q0 10 10 10 m96 0 q10 0 10 -10 m-106 10 h10 m70 0 h10 m0 0 h6 m-106 -10 v20 m116 0 v-20 m-116 20 v24 m116 0 v-24 m-116 24 q0 10 10 10 m96 0 q10 0 10 -10 m-106 10 h10 m48 0 h10 m0 0 h28 m-106 -10 v20 m116 0 v-20 m-116 20 v24 m116 0 v-24 m-116 24 q0 10 10 10 m96 0 q10 0 10 -10 m-106 10 h10 m60 0 h10 m0 0 h16 m-106 -10 v20 m116 0 v-20 m-116 20 v24 m116 0 v-24 m-116 24 q0 10 10 10 m96 0 q10 0 10 -10 m-106 10 h10 m74 0 h10 m0 0 h2 m-106 -10 v20 m116 0 v-20 m-116 20 v24 m116 0 v-24 m-116 24 q0 10 10 10 m96 0 q10 0 10 -10 m-106 10 h10 m76 0 h10 m20 -220 h10 m60 0 h10 m0 0 h10 m38 0 h10 m0 0 h10 m26 0 h10 m3 0 h-3"></path>
  <polygon points="495 17 503 13 503 21"></polygon>
  <polygon points="495 17 487 13 487 21"></polygon>
</svg>
<!-- generated by Railroad Diagram Generator https://www.bottlecaps.de/rr/ui -->
