<svg width="639" height="213" data-bnfhash="490a2003f3f85f6eab41a8732ca08813">
  <polygon points="9 17 1 13 1 21"></polygon>
  <polygon points="17 17 9 13 9 21"></polygon>
  <rect x="51" y="3" width="62" height="32" rx="10"></rect>
  <rect x="49" y="1" width="62" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="21">BYTES</text>
  <rect x="51" y="47" width="54" height="32" rx="10"></rect>
  <rect x="49" y="45" width="54" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="65">TEXT</text>
  <rect x="51" y="91" width="58" height="32" rx="10"></rect>
  <rect x="49" y="89" width="58" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="59" y="109">AVRO</text>
  <rect x="129" y="91" width="64" height="32" rx="10"></rect>
  <rect x="127" y="89" width="64" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="137" y="109">USING</text>
  <rect x="233" y="91" width="236" height="32" rx="10"></rect>
  <rect x="231" y="89" width="236" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="241" y="109">CONFLUENT SCHEMA REGISTRY</text>
  <rect x="489" y="91" width="36" height="32"></rect>
  <rect x="487" y="89" width="36" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="497" y="109">url</text>
  <rect x="233" y="135" width="76" height="32" rx="10"></rect>
  <rect x="231" y="133" width="76" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="241" y="153">SCHEMA</text>
  <rect x="349" y="135" width="50" height="32" rx="10"></rect>
  <rect x="347" y="133" width="50" height="32" class="terminal" rx="10"></rect>
  <text class="terminal" x="357" y="153">FILE</text>
  <rect x="419" y="135" width="132" height="32"></rect>
  <rect x="417" y="133" width="132" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="427" y="153">schema_file_path</text>
  <rect x="349" y="179" width="110" height="32"></rect>
  <rect x="347" y="177" width="110" height="32" class="nonterminal"></rect>
  <text class="nonterminal" x="357" y="197">inline_schema</text>
  <path class="line" d="m17 17 h2 m20 0 h10 m62 0 h10 m0 0 h478 m-580 0 h20 m560 0 h20 m-600 0 q10 0 10 10 m580 0 q0 -10 10 -10 m-590 10 v24 m580 0 v-24 m-580 24 q0 10 10 10 m560 0 q10 0 10 -10 m-570 10 h10 m54 0 h10 m0 0 h486 m-570 -10 v20 m580 0 v-20 m-580 20 v24 m580 0 v-24 m-580 24 q0 10 10 10 m560 0 q10 0 10 -10 m-570 10 h10 m58 0 h10 m0 0 h10 m64 0 h10 m20 0 h10 m236 0 h10 m0 0 h10 m36 0 h10 m0 0 h46 m-378 0 h20 m358 0 h20 m-398 0 q10 0 10 10 m378 0 q0 -10 10 -10 m-388 10 v24 m378 0 v-24 m-378 24 q0 10 10 10 m358 0 q10 0 10 -10 m-368 10 h10 m76 0 h10 m20 0 h10 m50 0 h10 m0 0 h10 m132 0 h10 m-242 0 h20 m222 0 h20 m-262 0 q10 0 10 10 m242 0 q0 -10 10 -10 m-252 10 v24 m242 0 v-24 m-242 24 q0 10 10 10 m222 0 q10 0 10 -10 m-232 10 h10 m110 0 h10 m0 0 h92 m63 -176 h-3"></path>
  <polygon points="629 17 637 13 637 21"></polygon>
  <polygon points="629 17 621 13 621 21"></polygon>
</svg>
<!-- generated by Railroad Diagram Generator https://www.bottlecaps.de/rr/ui -->
