// Copyright Materialize, Inc. and contributors. All rights reserved.
//
// Use of this software is governed by the Business Source License
// included in the LICENSE file at the root of this repository.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0.

SchemaRegistry {
    org.eclipse.jetty.jaas.spi.PropertyFileLoginModule required
    file="/etc/schema-registry/users.properties"
    debug="false";
};

KafkaClient {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="schemaregistry"
    password="schemaregistry";
};

KafkaServer {
     org.apache.kafka.common.security.plain.PlainLoginModule required
     username="broker"
     password="broker"
     user_broker="broker"
     user_schemaregistry="schemaregistry"
     user_materialize="sekurity"
     user_no_describe_config="password";
};

// Zookeeper client, despite the generic name.
Client {
     org.apache.zookeeper.server.auth.DigestLoginModule required
     username="kafka"
     password="kafka";
};

// Zookeeper server, despite the generic name.
Server {
     org.apache.zookeeper.server.auth.DigestLoginModule required
     user_kafka="kafka";
};
