p,
li,
th,
td {
  code {
    color: #3f6e75;
    font-family: "Roboto Mono", monospace;
    span {
      font-family: "Roboto Mono", monospace;
    }
  }
}

// Coloring of code overrides link coloring;
// instead insert border-bottom to indicate
// hyperlink on code element. This is very
// prevalent in our docs, especially among
// type references.
a:not(.headline-hash) {
  code {
    border-bottom: 1px dotted #6832d840;
  }
}

.highlight {
  font-family: "Roboto Mono", monospace;
  //   background-color: #f9f7fd;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll;

  pre {
    background-color: #f9f7fd !important;
  }
  span {
    font-family: "Roboto Mono", monospace;
  }
}
