.nav-parent-closed::after {
  content: ">";
  display: inline-block;
  margin-left: 0.3rem;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.nav-parent-open::after {
  content: ">";
  display: inline-block;
  margin-left: 0.3rem;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.nav-parent {
  font-weight: 900;
}

.hg-left {
  background-image: linear-gradient(#f9f7fd, #fff);
  border-right: 1px #d8d8d8 solid;
  /* put the nav on the left */
  order: -1;
  padding: 2rem;
  min-width: 20%;

  ul {
    padding-inline-start: 10px;
  }

  li {
    font-size: 1.2rem;
    list-style-type: none;
  }

  a {
    // Needed to remove conflict with nav header underlines.
    border-bottom: none;
    display: block;
    color: #683bd6;
    text-decoration: none;
  }

  .nav-top-level {
    border-bottom: 1px solid lightgray;
  }

  .underline {
    border-bottom: 3px solid $color-link-active;
  }
}

.hg-right {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  .nav-parent {
    color: black !important;
  }
  ul {
    padding-inline-start: 10px;
  }
  li {
    font-size: 1.2rem;
    list-style-type: none;
    margin-bottom: 0;
  }
  a {
    color: #bbbbbb;
  }

  ul > li > ul {
    font-weight: 900 !important;
    li > ul {
      font-weight: 400 !important;
    }
  }

  .toc {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-left: 3px solid #d8d8d8;
    font-size: small;
    padding: 0.5rem;
    height: 100vh;
    overflow: scroll;
  }
}
