main {
  flex: 1;
  font-size: 0.8rem;
  padding: 1rem 4rem 0rem 4.5rem;
  max-width: 800px;
  min-height: 100vh;

  h1 {
    text-align: left;
    font-size: 2rem;
    font-family: "graphik-semibold";
    margin-bottom: 0.75rem;
  }

  h2 {
    font-size: 1.3rem;
    margin-top: 3rem;
    a {
      color: black !important;
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    a {
      color: #666666 !important;
    }
  }

  h4 {
    font-size: 1rem;
    a {
      color: black !important;
    }
  }

  // Spacing for examples
  p + hr,
  .highlight + hr {
    margin-top: 3rem;
  }

  a {
    // Needed to remove conflict with nav header underlines.
    border-bottom: none;
  }

  ul {
    li {
      list-style-type: disc;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .list-page {
    min-height: 60vh;
  }

  .headline-hash {
    &:hover {
      opacity: 0.75;
    }
  }

  .warning {
    background-color: rgba(255, 124, 26, 0.1);
    border: 1px dashed rgb(255, 124, 26);
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
