.hg {
  display: flex;
  flex-direction: column;
}

.hg-body {
  border-top: 1px #d8d8d8d8 solid;
  display: flex;
  flex: 1;
}

.brand {
  margin-right: 1rem;
}

.dn {
  display: none;
}

strong {
}

em {
  font-style: italic;
}
