code {
    color: #3f6e75;
    font-family: "Roboto Mono", monospace;
    span {
      font-family: "Roboto Mono", monospace;
    }
  }

// Coloring of code overrides link coloring;
// instead insert border-bottom to indicate
// hyperlink on code element. This is very
// prevalent in our docs, especially among
// type references.
a:not(.headline-hash) {
  code {
    border-bottom: 1px dotted #6832d840;
  }
}

code {
  background-color: white;
  padding: 0px;
}

.highlight {
  font-family: "Roboto Mono", monospace;
  //   background-color: #f9f7fd;
  padding: 1rem;
  //   margin-bottom: 1rem;
  overflow-y: auto;

  pre {
    // word-wrap: normal;
    background-color: #f9f7fd !important;
    // border: 0px;
    border-radius: 0;
    code {
      white-space: pre;
    }
  }
  span {
    font-family: "Roboto Mono", monospace;
  }
}

td {
  pre {
    padding: 0;
    margin-bottom: 0;
  }
}
