/*
@include browser1000 {} // 4col
@include browser800 {} // 4 col
@include mobile {} // 2 col
*/

// INTRO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#index-intro {
  overflow: hidden;
  position: relative;
  h1 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  h3 {
    text-align: center;
    display: block;
    margin: 0 auto 30px auto;
  }
  .illustration-landscape {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    //height: 500px;
    width: 100vw;
    //background-image: url("/images/assets/landscape@2x.png");
    //background-repeat: no-repeat;
    //background-size: 12px 20px;
  }
  padding-bottom: 40px;
}

// Mailing List ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.mailing-list {
  #mc_embed_signup {
    border: 2px solid $purple;
    background-color: $white;
    padding: 40px;

    @include mobile {
      padding: 40px 0px;
      border: none;
      border-top: 2px solid $purple;
    }
  }
  #mc-embedded-subscribe-form {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
  }
  label {
    display: block;
    width: 100%;
  }
  h2 {
    display: block;
    //flex: 0 1 100%;
    font-size: 1.3em; //26px;
    line-height: 2rem; //38px;
    color: $purple;
    margin-bottom: 30px;
    width: 100% !important;
    //border: 2px solid green;
    text-align: left;
  }

  input,
  .button {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
  }
  input[type="text"],
  input[type="email"] {
    //float: left;
    display: block;
    width: 100%;

    color: $color-form-input-text !important;

    //width: 200px;
    //float: left;
    @include mobile {
      width: 100%;
      margin-left: 0;
    }
  }
  .button {
    display: block;
    //float: right;
    background-color: $color-button-primary;
    color: $color-button-primary-text;
    border: none;
    //margin-left:			20px;
    width: 100%;

    @include mobile {
      width: 100%;
      margin-left: 0;
    }
  }
}

// FEATURES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#features {
  @include bg-gradient-01;
}
.features-intro {
  text-align: center;

  h2 {
    @include small-allcaps;
    @include fontstyle-bold;
    color: $purple;
    letter-spacing: 2px;
    width: 100%;
    display: block;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 40px;

    span {
      letter-spacing: inherit;
      padding-right: 1em;
      padding-left: 1em;
    }
  }
  h2:before,
  h2:after {
    border-top: 1px solid $purple;
    border-bottom: 1px solid $purple;
    content: "";
    display: inline-block;
    height: 0.1em;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 0.15em;
  }
  h2:before {
    right: 0.5em;
    margin-left: -50%;
  }
  h2:after {
    left: 0.5em;
    margin-right: -50%;
  }
  .brand-symbol {
    width: 75px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}
.feature-item {
  overflow: visible;
  margin-top: 60px;
}
.illustration-sql-joins {
  margin: 100px auto 80px auto;
  text-align: center;
  img {
    width: 250px;
    height: auto;
  }
}

// Person
.person-card {
  margin-bottom: 40px;
  img {
    max-width: 250px;
  }

  @include mobile {
    padding-bottom: 40px;
    border-bottom: 1px solid $color-section-border;

    &:last-child {
      border-bottom: none;
    }
    img {
      max-width: 100%;
    }
  }

  h3 {
    color: $grey-dark;
    margin: 40px 0px;
  }
}
.person-title {
  color: $green;
  letter-spacing: inherit;
  font-size: 15px;
  display: inline-block;
}

// Investors
#investors-lightspeed {
  text-align: center;

  a:hover {
    //display: block;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
  }
}

// FOOTER
.site-footer {
  text-align: center;
  @include small-allcaps;
  letter-spacing: 4px !important;
  color: $white;
  background-color: $purple;

  a {
    color: $white;
    border-bottom: 2px solid $white;
  }

  padding: 60px 0px;
  border-top: 2px solid $color-section-border; //#F2F2F2;
}
