{% extends "base.html" %}

{% block title %}Memory{% endblock %}

{% block head %}
<link href="/static/css/memory.css" rel="stylesheet">

<script src="/static/js/vendor/react.js"></script>
<script src="/static/js/vendor/react-dom.js"></script>
<script src="/static/js/vendor/babel-standalone.js"></script> {# JSX compilation #}
<script src="/static/js/vendor/@hpcc-js/wasm.js"></script> {# GraphViz in WASM #}
<script src="/static/js/vendor/pako.js"></script> {# Zlib compression #}
<script src="/static/js/memory.jsx" type="text/babel"></script>
{% endblock %}

{% block content %}
<div id="content"></div>
{% endblock %}
