{{/*  Converts www/data/sql_funcs.json into table. */}}
{{ range $.Site.Data.sql_funcs }}
<h3>
  <a class="headline-hash" href="#{{ lower .type }}-func">
    {{.type}}
  </a>
  <a name="{{ lower .type }}-func"></a>
</h3>

<p>{{ if .description }} {{ .description | markdownify }} {{ end }}</p>

<table>
  <tr>
    <th>
      Function
    </th>
    <th>
      Computes
    </th>
  </tr>
  {{ range .functions }}
  <tr>
    <td>
      {{/*  We use clojure highlighting simply because it looks best with the
      components we want to highlight. In the future, this should be customized
      in some way.  */}}
      {{ highlight .signature "clojure" "" }}
    </td>
    <td>

      {{ .description | markdownify }}

      {{ if .url}}(<a href="{{ .url}}">docs</a>){{ end }}

    </td>
  </tr>
  {{ end }} {{/*  {{ range .functions }} */}}
</table>

{{ end }}{{/*  {{ range $.Site.Data.sql_funcs }} */}}
