{{/*  Converts www/data/sql_funcs.json into table. */}}
{{ range $.Site.Data.sql_funcs }}
<h3>
  <a class="headline-hash" href="#{{ lower .type }}-func">
    {{.type}}
  </a>
  <a name="{{ lower .type }}-func"></a>
</h3>

<table>
  <tr>
    <th>
      Function
    </th>
    <th>
      Computes
    </th>
  </tr>
  {{ range .functions }}
  <tr>
    <td>
      {{ highlight .signature "rust" "" }}
    </td>
    <td>

      {{ .description | markdownify }}

      {{ if .url}}(<a href="{{ .url}}">docs</a>){{ end }}

    </td>
  </tr>
  {{ end }} {{/*  {{ range .functions }} */}}
</table>

{{ end }}{{/*  {{ range $.Site.Data.sql_funcs }} */}}
