black==21.9b0
boto3-stubs[ec2,kinesis,s3,sqs,ssm,sts]==1.18.53
boto3==1.18.53
flake8==3.9.2
humanize==3.11.0
isort==5.9.3
mypy==0.910
pdoc3==0.10.0
prettytable==2.2.1
psutil==5.8.0
psycopg2-binary==2.9.1
types-psycopg2==2.9.0
pytest==6.2.5
requests==2.23.0
twine==3.4.2
types-prettytable==2.1.0
types-psutil==5.8.8
types-PyMYSQL==1.0.2
types-PyYAML==5.4.10
types-requests==2.25.6
types-toml==0.10.1
