black==21.7b0
boto3-stubs[ec2,kinesis,s3,sqs,ssm]==1.18.13
boto3==1.17.46
humanize==3.11.0
isort==5.9.3
mypy==0.910
pdoc3==0.8.1
pytest==5.4.2
requests==2.26.0
types-PyMYSQL==1.0.2
types-PyYAML==5.4.6
types-requests==2.25.6
types-toml==0.1.5
