// Copyright Materialize, Inc. All rights reserved.
//
// Use of this software is governed by the Business Source License
// included in the LICENSE file at the root of this repository.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0.
//
// Portions of this file are derived from
// https://github.com/vdesabou/kafka-docker-playground/blob/master/environment/kerberos/kafka/broker.sasl.jaas.config

/*
* The service principal
*/
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/var/lib/secret/broker.key"
    principal="kafka/broker.krb5.local@CI.MATERIALIZE.IO";
};

KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/var/lib/secret/broker.key"
    principal="kafka/broker.krb5.local@CI.MATERIALIZE.IO";
};

/*
* Zookeeper client principal
*/
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    useTicketCache=false
    keyTab="/var/lib/secret/broker.key"
    principal="kafka/broker.krb5.local@CI.MATERIALIZE.IO";
};
