{{/*  Copyright Materialize, Inc. All rights reserved.

Use of this software is governed by the Business Source License
included in the LICENSE file at the root of this repository.

As of the Change Date specified in that file, in accordance with
the Business Source License, use of this software will be governed
by the Apache License, Version 2.0.  */}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . }}
</head>

<body class="hg">
    {{ partial "header.html" . }}
    {{ block "body" .}}
        <div class="hg-body">
            <main class="hg-content">
                {{ block "main" . }}{{ end }}
                <!-- Footer goes in main so the border-right of
                sidebar.html can extend to the bottom of the page. -->
                {{ partial "footer.html" . }}
            </main>
            {{ partial "sidebar.html" . }}
            {{ partial "toc.html" . }}

        </div>
    {{ end }}
</body>

</html>
