<html>
  <head>
    <title>{% block title %}Materialize Performance Dashboard{% end %}</title>

    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

  </head>
  <body>
      <div id="benchmark_results"></div>
      <div id="benchmark_progress"></div>
      <div id="time_per_worker"></div>

    <script type="text/javascript">
        "use strict";

        function setup_view(view_name) {

            var chart = {
	      $schema: "https://vega.github.io/schema/vega-lite/v4.json",
	      title: "Performance per Git Revision",
	      description: "A scatterplot showing ingest performance by number of workers and git revision",
              data: {name: 'data'},
	      mark: "point",
              height: 600,
              width: 600,
	      encoding: {
		x: {
		  field: "num_workers",
		  type: "quantitative",
		},
		y: {
		  field: "rows_per_second",
		  type: "quantitative",
		},
		color: {field: "git_revision", type: "nominal"},
		shape: {field: "git_revision", type: "nominal"}
	      }
	    };

            var config = {
                actions: true // set to false to disable button that allows for exporting to png, etc
            }

            vegaEmbed('#' + view_name, chart, config).then(function(chart) {

                var path = "ws://" + location.host + "{{reverse_url('api/stream', '')}}" + view_name;
                var connection = new WebSocket(path);

               function convert_to_result(row) {
                    return {benchmark_id: row[0],
                            run_id: row[1],
                            git_revision: row[2],
                            num_workers: parseInt(row[3]),
                            result: row[4],
                            rows_per_second: parseInt(row[5])
                           };
                }

                function result_in_array(e, arr) {
                    return arr.find(i => i.benchmark_id === e.benchmark_id);
                }

                connection.onmessage = function(event) {
                        var data = JSON.parse(event.data);
                        var insert_values = data.inserted.map(convert_to_result);
                        var delete_values = data.deleted.map(convert_to_result);
                        var changeSet = vega.changeset()
                                .insert(insert_values)
                                .remove(d => result_in_array(d, delete_values));

                        chart.view.change('data', changeSet).resize().run();
                }
            });

        }

        setup_view("benchmark_results");
    </script>
    <script type="text/javascript">
        "use strict";

        function setup_view(view_name) {

            var chart = {
	      $schema: "https://vega.github.io/schema/vega-lite/v4.json",
	      title: "Benchmark Progress",
	      description: "A Gantt chart benchmkark progress by run",
              data: {name: 'data'},
	      mark: "bar",
              height: 400,
              width: 800,
	      encoding: {
		x: {field: "start_time", type: "temporal", timeUnit: "utcyearmonthdatehoursminutesseconds"},
		x2: {field: "end_time"},
		y: {field: "git_ref", type: "ordinal"},
		color: {field: "result", type: "nominal"}
	      }
	    };

            var config = {
                actions: false
            }

            vegaEmbed('#' + view_name, chart, config).then(function(chart) {

                var path = "ws://" + location.host + "{{reverse_url('api/stream', '')}}" + view_name;
                var connection = new WebSocket(path);

               function convert_to_progress(row) {
                    var start_ms = parseInt(row[2]);
                    return {
                            benchmark_id: row[0],
                            run_id: row[1],
                            start_time: new Date(start_ms),
                            runtime: row[3] ? parseInt(row[3]) : Date().getTime - start_ms,
                            git_ref: row[4],
                            mz_workers: parseInt(row[5]),
                            end_time: row[6] ? new Date(row[6]) : new Date(),
                            result: row[7]
                           };
                }

                function progress_in_array(e, arr) {
                    return arr.find(i => i.run_id === e.run_id);
                }

                connection.onmessage = function(event) {
                        var data = JSON.parse(event.data);
                        var insert_values = data.inserted.map(convert_to_progress);
                        var delete_values = data.deleted.map(convert_to_progress);
                        var changeSet = vega.changeset()
                                .insert(insert_values)
                                .remove(d => progress_in_array(d, delete_values));

                        chart.view.change('data', changeSet).resize().run();
                }
            });

        }

        setup_view("benchmark_progress");
    </script>
    <script>

        function setup_chart(view_name) {

            var chart = {
                $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
		title: "Elapsed Time per Worker",
		description: "A bar chart showing amount of time spent per worker",
                data: {name: 'data'},
                mark: 'bar',
                height: 400,
                width: 800,
                encoding: {
                    x: {field: 'worker_id', type: 'nominal', title: 'Worker ID'},
                    y: {field: 'time_elapsed', type: 'quantitative', title: 'Time Elapsed ns'},
                }
            };

            var config = {
                actions: true // set to false to disable button that allows for exporting to png, etc
            }

            vegaEmbed('#' + view_name, chart, config).then(function(chart) {

                var path = "ws://" + location.host + "{{reverse_url('api/stream', '')}}" + view_name;
                var connection = new WebSocket(path);

               function convert_to_row(row) {
                    return {mz_cluster_id: row[0],
                            worker_id: parseInt(row[1]),
                            time_elapsed: parseInt(row[2])
                           };
                }

                function row_in_array(e, arr) {
                    return arr.find(i => i.mz_cluster_id === e.mz_cluster_id &&
                                    i.worker_id === e.worker_id &&
                                    i.time_elapsed && e.time_elapsed);
                }

                connection.onmessage = function(event) {
                        var data = JSON.parse(event.data);
                        var insert_values = data.inserted.map(convert_to_row);
                        var delete_values = data.deleted.map(convert_to_row);
                        var changeSet = vega.changeset()
                                .insert(insert_values)
                                .remove(d => row_in_array(d, delete_values));

                        chart.view.change('data', changeSet).resize().run();
                }
            });

        }

        setup_chart("time_per_worker");

    </script>
  </body>
</html>
