footer {
  color: #d8d8d8;
  justify-content: flex-end;
  min-height: 5rem;
  text-align: center;
  padding-top: 5rem;

  a {
    border-bottom: none;
    color: rgba(105, 49, 216, 0.4);
    &:hover,
    &:active {
      color: rgba(105, 49, 216, 0.4);
      border-bottom: none;
    }
  }
}
