.row {
    max-width: 1400px;
    margin: auto;

    @media (max-width: 1570px) {
        padding: 0 var(--milli);
    }
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    gap: var(--large);
    flex-direction: column;
    flex: 3;
    flex-shrink: 1;
    min-height: calc(100vh - 178px);
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
    max-width: 840px;
    padding: var(--xx-small) var(--small);

    @media (max-width: 1260px) {
        flex: 2.5;
        padding: var(--xx-small);
    }

    @media(max-width: 510px) {
        padding: var(--xx-small) var(--milli);
    }

    @media(max-width: 850px) {
        gap: 0;
    }

    footer {
        margin-top: auto;
    }
}

.table-container {
    overflow-x: scroll;
}

.relative {
    position: relative;
}

#docsearch {
    margin-bottom: 16px;

    .DocSearch-Button {
        margin: 0 0 16px 0;
        width: 100%;
        background: var(--card-light);
        border: 1px solid var(--divider-light);
        border-radius: 8px;
        max-width: 230px;
    }

    .DocSearch-Button-Keys {
        @media(max-width: 768px) {
            display: flex;
        }
    }

    .DocSearch-Button-Key {
        background: var(--card);
        color: var(--body);
        box-shadow: 1px 1px 0px 0px var(--divider-light);
    }

    .DocSearch-Button-Placeholder {
        font-size: 1.6rem;
        font-weight: 300;

        @media(max-width: 768px) {
            display: initial;
        }
    }

    .DocSearch-Search-Icon {
        color: var(--body);
    }
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: none;
}

.sidebar-wrapper {
    flex: 1;

    @media(max-width: 850px) {
        position: fixed;
        background: var(--bg);
        z-index: 100;
        top: 0;
        left: 0;
        border-right: 1px solid var(--divider-light);
        transform: translateX(-100%);
        transition: all .2s ease-out;
        visibility: hidden;

        .close-topics {
            opacity: 0;
            pointer-events: none;
        }

        &.shown {
            transform: none;
            visibility: visible;

            .close-topics {
                opacity: 1;
                pointer-events: initial;
            }
        }
    }
}

.sidebar {
    margin-left: auto;
    position: sticky;
    top: 0;
    padding: var(--x-small) var(--nano);
    overflow-y: auto;
    height: 100vh;
    display: flex;
    font-size: 1.3rem;
    overflow-x: hidden;

    &,
    ul {
        width: 100%;
        min-width: 200px;
        max-width: 285px;

        @media(max-width: 850px) {
            min-width: 260px;
        }
    }

    @media (max-width: 1570px) {
        padding-left: var(--milli);
        padding-right: var(--nano);
    }

    @media(max-width: 850px) {
        padding-bottom: var(--large);
    }

    &>ul>li:last-child {
        padding-bottom: var(--milli);
    }

    a {
        display: block;
        cursor: pointer;
        position: relative;
        padding: 3px 0 3px 15px;
        text-decoration: none;
        word-wrap: break-word;
        white-space: initial;

        &.active {
            font-weight: 500;
        }

        &:hover,
        &.active {
            color: var(--highlight);
            text-decoration: none;

            svg {
                color: var(--divider-light);

                .darker {
                    color: var(--highlight);
                }
            }
        }

        svg {
            position: absolute;
            left: -6px;
            top: 50%;
            margin-top: -18px;
            color: var(--divider-light);

            .darker {
                color: var(--sub);
            }

            &:hover {
                stroke-width: 2;
            }
        }
    }

    code {
        font-family: "Fira Code", Courier, monospace;
    }

    .no-children>a,
    .level-4 a {
        border-left: 2px solid var(--divider-light);

        &:hover,
        &.active {
            border-color: var(--highlight);
        }
    }

    ul {
        position: relative;
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;

        ul ul {
            margin-left: 0.8rem;
        }
    }

    li {
        position: relative;
    }

    li.level-1 {
        &>div {
            margin: 0 0 4px -2px;
            padding: 4px 0;
            color: var(--highlight);
            font-weight: 500;
        }

        &>ul {
            margin-bottom: 1.5rem;
        }
    }

    li.level-2,
    li.level-3 {
        >ul {
            display: none;
            padding-top: 0.5rem;
            margin-bottom: 0.625rem;

            &:before,
            &:after {
                content: "";
                background-image: url("../images/level_three_transition.svg");
                width: 10px;
                height: 10px;
                position: absolute;
                top: 0;
                left: -8px;
            }

            &:after {
                bottom: -10px;
                top: unset;
                transform: scaleY(-1);
            }
        }

        &.open {
            >a {
                .hidden-when-open {
                    visibility: hidden;
                }
            }

            >ul {
                display: block;
            }
        }
    }

    li.level-2.has-children.open {
        padding-bottom: 4px;
    }

    li.level-3.has-children.open {
        padding-bottom: 4px;
    }
}

.toc-wrapper {
    flex: 1;

    @media(max-width: 1050px) {
        display: none;
    }

    .btn-ghost {
        margin: var(--x-small) var(--milli) var(--milli);
    }
}

.toc {
    max-width: 280px;
    min-width: 180px;
    padding: var(--x-small) 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    font-size: var(--sm);

    &-top {
        margin-top: var(--pico);
    }

    h2 {
        font-size: var(--xsm);
        letter-spacing: 0.1em;
        margin: 0 0 0.75rem 0;
        padding: 0;
        display: inline-block;
        color: var(--highlight);
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul ul {
        margin-left: var(--milli);
    }

    li {
        padding: 0.25rem 0;
    }

    a {
        text-decoration: none;

        &.active {

            &,
            code {
                font-weight: 500;
            }
        }

        &.active,
        &:hover,
        &:focus {

            &,
            code {
                color: var(--highlight);
                text-decoration: none;
            }
        }
    }

    code {
        font-family: "Fira Code", Courier, monospace;
        font-variant-ligatures: none;
    }
}

.sidebar a,
.toc a {
    word-wrap: break-word;
    white-space: initial;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: var(--x-small);
    text-align: center;
    margin-top: var(--large);
    padding: var(--small) 0 0;
    border-top: 1px solid var(--divider-light);

    &-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: var(--small);
        row-gap: var(--milli);
        font-size: var(--sm);
    }

    a:not([class]) {
        color: var(--sub) !important;
        font-weight: 300 !important;
        text-decoration: none;

        &[href*="https://"] {
            border-bottom: none;

            &::after {
                display: none;
            }
        }
    }
}

.theme-switcher {
    display: flex;
    justify-content: center;
    gap: var(--xx-small);

    button {
        background: transparent;
        border: none;
    }

    svg {
        height: 2.2rem;
        width: 2.2rem;
        fill: var(--gray-mid);
    }

    .system.active {
        svg {
            fill: var(--important);
        }
    }

    .light.active {
        svg {
            fill: orange;
        }
    }

    .dark.active {
        svg {
            fill: var(--gray-light);
        }
    }
}

body.dark {

    .theme-switcher {
        svg {
            fill: var(--gray-dark);
        }
    }

    li.level-2 {
        li.level-3 {
            ul {

                &:before,
                &:after {
                    content: "";
                    background-image: url("../images/level_three_transition_dark.svg");
                }
            }
        }
        ul {

            &:before,
            &:after {
                content: "";
                background-image: url("../images/level_three_transition_dark.svg");
            }
        }
    }
}
