@mixin card {
    background: var(--card-light);
    border: 1px solid var(--divider-light);
    border-radius: 1.2rem;

    box-shadow: var(--shadow-default);
}

@mixin gradient-border {
    background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--graidient-primary);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
}