// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*
@include browser1000 {} // 4col
@include browser800 {} // 4 col
@include mobile {} // 2 col
*/

.site-header {
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;

  @include browser800 {
    display: block;
  }
  @include mobile {
    padding-bottom: 30px;
  }
}
.brand {
  img {
    width: 305px;
    height: auto;
  }
  &:hover {
    border-bottom: 3px rgba(255, 255, 255, 0);
  }

  @include browser1000 {
  }
  @include browser800 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
      width: 80%;
      height: auto;
    }
  }
  @include mobile {
    img {
      width: 95%;
    }
  }
}

.global-nav {
  display: flex;
  a {
    display: block;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    color: $grey-dark;

    &:last-child {
      margin-right: 0px;
    }
  }

  @include browser800 {
    margin-top: 1em;
    width: 100%;
    display: block;
    //justify-content: 	space-evenly;
    text-align: center;
    a {
      display: inline-block;
      margin-right: 20px;
    }
  }
  @include mobile {
    margin-top: 0.5em;
    a {
      margin-right: 10px;
    }
  }
}
