$black: #000;
$off-black: #2b2c30;
$white: #fff;
$grey-dark: #575961;
$grey: #c1c3c6;
$grey-light: #e0e2e2;
$grey-extra-light: #e7e4f0;
$purple: #612dd3;
$purple-80: #815adc;
$purple-60: #a084e6;
$purple-40: #c0aeee;
$purple-20: #dfd6f6;
$purple-10: #f0ebfc;
$purple-1: #f9f7fd;
$lime: #77e04c;

/* New Site Styles */
/* TODO: Remove V2 once ported over */
$white-v2: #FFF;
$grey-v2: #A2A2A2;
$dark-grey-v2: #CDCDCD;
$medium-grey-v2: #EDE7FD;
$light-grey-v2: #F5F5F5;
$black-v2: #383D49;
$dark-black-v2: #111111;
$faded-purple-v2: #FAF8FD;
$light-purple-v2: #BAB5EF;
$purple-v2: #7F4EFF;
$medium-purple-v2: #472F85;
$dark-purple-v2: #1B164C;
$darkest-purple-v2: #140D55;
$orchid-v2: #E537C0;
$transparent-gradient-v2: linear-gradient(0deg, #FFFFFF00 0%,#FFFFFF00 100%);
$primary-gradient-v2: linear-gradient(280.8deg, #5C29F1 15.21%, #E37AC2 56.5%, #FF9067 85.53%);
$primary-gradient-dark-v2: linear-gradient(280.8deg, #5C29F1 15.21%, #E37AC2 56.5%, #FF9067 85.53%),linear-gradient(0deg, #111111, #111111);

$secondary-gradient-v2: linear-gradient(277.43deg, #4512C7 -97.28%, #59C3FF 15.82%, #75FF86 120.75%), linear-gradient(281.49deg, #5C29F1 22.32%, #E37AC2 64.57%, #FF9067 94.28%);
$purple-gradient-v2: linear-gradient(102.5deg, #5A34CB 17.99%, #9B34CB 59.07%);
$transparent-v2: #FFFFFF00;

$border-radius: 4px;

$success: #13D461;
$progress: #D1FA77;
$warning: #EE8660;
$danger: #e5375e;

@import "reset";
@import "content";
@import "layout";
@import "fonts";
@import "highlight";
@import "railroad_diagrams";
