$black: #000;
$off-black: #2b2c30;
$white: #fff;
$grey-dark: #575961;
$grey: #c1c3c6;
$grey-light: #e0e2e2;
$grey-extra-light: #e7e4f0;
$purple: #612dd3;
$purple-80: #815adc;
$purple-60: #a084e6;
$purple-40: #c0aeee;
$purple-20: #dfd6f6;
$purple-10: #f0ebfc;
$purple-1: #f9f7fd;
$lime: #77e04c;

@import "content";
@import "layout";
@import "fonts";
@import "highlight";
@import "railroad_diagrams";
