{% set excluded_props = ['KAFKA_VERSION',
                         'KAFKA_HEAP_OPTS'
                         'KAFKA_LOG4J_OPTS',
                         'KAFKA_OPTS',
                         'KAFKA_JMX_OPTS',
                         'KAFKA_JVM_PERFORMANCE_OPTS',
                         'KAFKA_GC_LOG_OPTS',
                         'KAFKA_LOG4J_ROOT_LOGLEVEL',
                         'KAFKA_LOG4J_LOGGERS',
                         'KAFKA_TOOLS_LOG4J_LOGLEVEL',
                         'KAFKA_ZOOKEEPER_CLIENT_CNXN_SOCKET']
-%}

{# properties that don't fit the standard format #}
{% set other_props = {
  'KAFKA_ZOOKEEPER_CLIENT_CNXN_SOCKET' : 'zookeeper.clientCnxnSocket'
 } -%}

{% set kafka_props = env_to_props('KAFKA_', '', exclude=excluded_props) -%}
{% for name, value in kafka_props.items() -%}
{{name}}={{value}}
{% endfor -%}

{% for k, property in other_props.items() -%}
{% if env.get(k) != None -%}
{{property}}={{env[k]}}
{% endif -%}
{% endfor -%}

{% set confluent_support_props = env_to_props('CONFLUENT_SUPPORT_', 'confluent.support.') -%}
{% for name, value in confluent_support_props.items() -%}
{{name}}={{value}}
{% endfor -%}
