{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link href="static/css/vendor/d3-flame-graph.css" rel="stylesheet">
<link href="static/css/flamegraph.css" rel="stylesheet">

<script src="static/js/vendor/d3.js"></script>
<script src="static/js/vendor/d3-flame-graph.js"></script>
<script src="static/js/flamegraph.js"></script>
{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="header">
      <h1>{{ title }}</h1>
      <form id="search-form" onsubmit="download('trace.mzfg', mzfg)">
            <button id="reset-zoom-button" type="button">Reset zoom</button>
            <div class="separator"></div>
            <input id="search-input" type="text" placeholder="Filter...">
            <button id="clear-button" type="button">Clear</button>
            <label for="load-file">Upload MZFG:</label>
            <input id="load-file" type="file" />
            <button id="save-file" type="submit">Save current trace</button>
        </form>
    </div>
    <div id="chart"></div>
    <div id="extras">
    </div>
    <div id="details"></div>
</div>

<script>
  let mzfg = {{mzfg|json|safe}};
  if (mzfg) {
      renderPageFromMzfg(mzfg);
  }

  document.getElementById('load-file').addEventListener('change', ev => {
      loadFile(ev);
  });
</script>
{% endblock %}
