# Packages required to install *other* packages.
#
# It is extremely unlikely that we'll ever need additional packages here. Do not
# add to this list without consulting with @benesch!

pip==22.0.4
setuptools==61.2.0
