# Packages required to run demos via mzcompose.
#
# These packages must be easily installable on a wide variety of machines.
# Strictly no packages that require compiling native code. Do not add to this
# list without consulting with @benesch!

click==8.0.4
colored==1.4.3
humanize==4.0.0
junit-xml==1.9
pg8000==1.24.1
prettytable==3.1.1
PyMySQL==1.0.2
pyyaml==6.0
requests==2.27.1
semver==3.0.0.dev3
sqlparse==0.4.2
toml==0.10.2
