# Packages required for Python developer tools.
#
# Please be thoughtful about adding dependencies. Packages with native
# dependencies tend to be troublesome unless they ship binary
# wheels for a wide variety of platforms, including M1 Macs.

black==24.4.2
boto3-stubs[ec2,iam,kinesis,s3,sqs,ssm,sts]==1.26.89
boto3==1.34.63
click==8.1.3
cryptography==42.0.8 # TODO(def-) Upgrade when https://github.com/paramiko/paramiko/issues/2419 is fixed
colored==1.4.4
docker==7.1.0
ec2instanceconnectcli==1.0.2
python-frontmatter==1.0.0
humanize==4.4.0
ipympl==0.9.3
ipywidgets==8.1.1
junit-xml==1.9
junitparser==3.1.2
jupyterlab==4.1.4
jupyter-black==0.3.4
kubernetes==25.3.0
kubernetes-stubs==22.6.0.post1
launchdarkly-api==11.0.0
matplotlib==3.9.0
matplotlib-stubs==0.2.0
networkx==3.0
networkx-stubs==0.0.1
numpy==1.26.1
pandas==2.1.2
pandas-stubs==2.1.1.230928
parameterized==0.8.1
paramiko==3.4.0
pdoc==14.6.0
# We can revert back to standard pg800 versions once https://github.com/tlocke/pg8000/pull/161 merges
pg8000 @ git+https://github.com/benesch/pg8000@0e7d1fbe02bd47958f9cf0cf132d6d08fbcca18e
prettytable==3.11.0
psutil==5.9.4
psycopg==3.1.12
psycopg-binary==3.1.12
pydantic==2.7.1
pyelftools==0.29
pyjwt==2.8.0
PyMySQL==1.1.1
pytest==8.3.3
pytest-split==0.9.0
pyyaml==6.0.1
requests==2.32.3
ruff==0.0.292
scipy==1.11.2
semver==3.0.0
shtab==1.5.8
sqlparse==0.5.0
toml==0.10.2
twine==5.1.1
types-Markdown==3.6.0.20240316
types-pkg-resources==0.1.3
types-prettytable==3.4.2.3
types-psutil==5.9.5.10
types-PyMYSQL==1.0.19.1
types-PyYAML==6.0.12.20240808
types-requests==2.28.11.7
types-setuptools==67.6.0.0
types-toml==0.10.8.1
typing-extensions==4.11.0
xxhash==3.4.1
yamllint==1.33.0
confluent-kafka==2.3.0
fastavro==1.9.4
websocket-client==1.7.0
pyarrow-stubs==10.0.1.7
pyarrow==15.0.2
minio==7.2.5
zstandard==0.22.0
