# Packages required for Python developer tools.
#
# Please be thoughtful about adding dependencies. Packages with native
# dependencies (e.g., psycopg2) tend to be troublesome unless they ship binary
# wheels for a wide variety of platforms, including M1 Macs.

black==22.3.0
boto3-stubs[ec2,iam,kinesis,s3,sqs,ssm,sts]==1.21.46
boto3==1.23.0
click==8.1.2
cryptography==36.0.2
colored==1.4.3
docker==5.0.3
ec2instanceconnectcli==1.0.2
flake8==4.0.1
humanize==4.0.0
isort==5.10.1
junit-xml==1.9
mypy==0.942
numpy==1.22.3
pandas==1.4.2
parameterized==0.8.1
pdoc3==0.10.0
pg8000==1.26.1
prettytable==3.2.0
psutil==5.9.0
# psycopg2 intentionally omitted. Use pg8000 instead.
pydantic==1.9.0
PyMySQL==1.0.2
pytest==7.1.2
pyyaml==6.0
requests==2.27.1
scipy==1.7.3
semver==3.0.0.dev3
shtab==1.5.4
sqlparse==0.4.2
sqlparse==0.4.2
toml==0.10.2
twine==4.0.0
types-pkg-resources==0.1.3
types-prettytable==2.1.2
types-psutil==5.8.22
types-PyMYSQL==1.0.18
types-PyYAML==6.0.7
types-requests==2.27.20
types-setuptools==57.4.14
types-toml==0.10.5
