# Packages required to install *other* packages.
#
# It is extremely unlikely that we'll ever need additional packages here. Do not
# add to this list without consulting with @testing!

pip==25.1.1
setuptools==80.3.1
