# Packages required to install *other* packages.
#
# It is extremely unlikely that we'll ever need additional packages here. Do not
# add to this list without consulting with @benesch!

pip==22.2.2
setuptools==65.1.1
