{{ define "title" }}Materialize | The Streaming SQL Materialized View Engine{{ end }}

{{ define "body" }}
<section id="index-intro">
  <div class="container">
    <div class="grid-section">
      <div class="grid-6x3">
        <h1 class="h1-callout">
          The Streaming SQL
          <span class="inline-block">Materialized View Engine</span>
        </h1>
        <h3>Powered by Timely Dataflow</h3>
      </div>

      <div class="grid-spacer grid-1x2">&nbsp;</div>

      <div class="grid-4x2 overflow-visible">
        <h2 class="chev">
          Real-time materialized views over your streaming data
        </h2>
        <p>Write complex SQL queries.</p>
        <p>Add data from a message bus like Kafka.</p>
        <p>Your SQL views stay incrementally updated within milliseconds.</p>
        <p>At millions of updates per second.</p>
      </div>

      <div class="grid-spacer grid-1x2">&nbsp;</div>
      <div class="grid-spacer grid-1x2"></div>

      <div class="grid-4x2 mailing-list">
        <div id="mc_embed_signup">
          <form action="https://materialize.us20.list-manage.com/subscribe/post?u=2a9d35bb5a29d3f5f21b42b4d&amp;id=150f529342" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>Sign up to get early access!</h2>
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address*">
              </div>
              <div class="mc-field-group">
                <input type="text" value="" name="NAME" class="" id="mce-NAME" placeholder="Name">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2a9d35bb5a29d3f5f21b42b4d_150f529342" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
      </div>

      <div class="grid-spacer grid-1x2">&nbsp;</div>
    </div>
  </div>

  <div class="illustration-landscape"> <img src="{{ "images/landscape@2x.png" | relURL }}"></div>
</section>

<section id="features">
  <div class="container">
    <div class="grid-section">
      <div class="grid-6x2 features-intro">
        <img class="brand-symbol" src="{{ "images/materialize-symbol.png" | relURL }}" alt="Materialize">
        <h2><span>Materialize Features</span></h2>
      </div>

      <div class="grid-spacer grid-1x1">&nbsp;</div>

      <div class="grid-4x2 overflow-visible">
        <h1 class="h1-callout">Write SQL Queries. Stream your data.</h1>
        <p>No manually glueing streams. No writing imperative code.</p>
        <p>Declare what you want in SQL. Materialize keeps it up to date. Within milliseconds.</p>
        <div class="feature-item">
          <h2 class="chev">ANSI Standard SQL. Including joins.</h2>
          <p>
            No "inspired by SQL" half-broken query languages.
            Materialize supports ANSI Standard SQL 92.
            Use a SQL shell or your favorite database adapter.
          </p>
        </div>

        <div class="illustration-sql-joins">
          <img src="{{ "images/illustration-sql-joins.svg" | relURL }}">
        </div>

        <div class="feature-item">
          <h2 class="chev">Correct answers.</h2>
          <p>
            No page-long caveats about eventual consistency and out-of-order execution.
            Materialize results are always consistent and always up-to-date.
            Pretend that we reran every query every message.
          </p>
        </div>

        <div class="feature-item">
          <h2 class="chev">Distributed. Fault tolerant. Replicated.</h2>
          <p>
            Materialize is built on top of Timely Dataflow, which is distributed.
            Materialize also adds active-active cluster replication for fault tolerance, and autoscalingorchestration.
          </p>
        </div>

        <div class="feature-item">
          <h2 class="chev">Scales up... and down.</h2>
          <p>
            Scale up: process millions of messages per second on a single-digit number of machines.
            Scale down: run Materialize on your laptop with a single binary on a single core.
            It's not just fast, it's also lean.
          </p>
        </div>

        <div class="feature-item">
          <h2 class="chev">Powered by Timely Dataflow.</h2>
          <p>
            Materialize is built on top of a powerful stream processing engine:
            <a href="http://timelydataflow.com">Timely Dataflow</a>.
            Inspired by the award-winning
            <a href="https://www.usenix.org/conference/atc14/technical-sessions/presentation/naiad-timely-dataflow-system" target="_blank">Naiad</a>
            project, Timely Dataflow has been in open-source development
            for 4 years and runs in production deployments at scale.
          </p>
        </div>
      </div>

      <div class="grid-spacer grid-1x1">&nbsp;</div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <div class="grid-section">
      <div class="grid-6x2">
        <h1>Our Team</h1>
      </div>

      {{ range sort $.Site.Data.team ".order" }}
        <div class="grid-2x3 person-card">
          {{ if .homepage }}<a href="{{ .homepage }}" target="_blank">{{ end }}
            <img src="{{ .headshot | relURL }}?nf_resize=fit&w=500&h=500" alt="{{ .name }}">
          {{ if .homepage }}</a>{{ end }}
          <h3>{{ .name }} / <span class="person-title">{{ .title }}</span></h3>
          <p>{{ .blurb | markdownify }}</p>
        </div>
      {{ end }}
    </div>

    <div class="grid-section">
      <div class="grid-spacer grid-2x2">&nbsp;</div>
      <div class="grid-4x2 overflow-visible">
        <h2 class="chev"><a href="https://jobs.lever.co/materialize">Join us</a>. We are hiring.</h2>
      </div>
    </div>
  </div>
</section>

<section id="board-and-investors">
  <div class="container">
    <div class="grid-section">
      <div class="grid-6x2" id="investors-lightspeed">
        <a href="https://lsvp.com/" target="_blank">
          <img src="{{ "images/lightspeed-logo.svg" | relURL }}" style="width: 343px">
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
    <div class="container">
        &copy;{{ now.Format "2006" }} Materialize / <a href="mailto:contact@materialize.io">Contact Us</a>
    </div>
</footer>
{{ end }}
